* {
	margin: 0;
	padding: 0;
	font-family: "Bree Serif", serif;
}

.navbar {
	background-image: radial-gradient(circle, #000000, #000000, #9c692f);
}

.navbar .btn-success {
	background-color: #000000;
	border: none;
}

.navbar .btn-primary {
	background-color: #9c692f;
	border: none;
}

.banner {
	height: 80vh;
	background: url("images/bg-low.jpg") no-repeat center center/cover;
	color: whitesmoke;
}

.banner h1 {
	padding-top: 130px;
	font-size: 50px;
	letter-spacing: 6px;
	font-weight: 600;
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	font-family: "Baloo Bhai 2", cursive;
}

.banner p {
	font-family: "Bree Serif", serif;
	font-weight: 500;
	letter-spacing: 3px;
}

.search-job {
	padding: 30px 0;
	margin: -50px 6% 50px;
	border-radius: 30px;
	background-color: lightslategrey;
	background-image: radial-gradient(circle, #000000, #000000, #9c692f);
}

.search-job .form-control {
	max-width: 250px;
	display: inline-flex;
	margin: 10px 5px;
	border-radius: 0;
	box-shadow: none !important;
	border: none !important;
}

.search-job .btn-primary {
	border-radius: 4px;
	box-shadow: none;
	border: none;
	display: inline-flex;
	margin: 25px;
	padding: 5px 20px;
	background-color: #9c692f;
}

/* TOP RECRUITERS */
#recruiters {
	padding-top: 50px;
	padding-bottom: 40px;
}

#recruiters h3 {
	font-family: "Baloo Bhai 2", cursive;
	font-size: 50px;
	font-weight: 800;
	color: #9c692f;
}

hr {
	color: #9c692f;
}

#recruiters img {
	max-width: 100px;
	margin: 10px 20px;
}

/*------------------- Current openings ---------------------*/

#jobs {
	background-color: ghostwhite;
	padding: 50px 0;
	color: #9c692f;
}
#jobs h5 {
	font-size: 30px;
	font-family: "Baloo Bhai 2", cursive;
	letter-spacing: 2px;
}

.company-details {
	box-shadow: 0 2px 70px 0 rgba(110, 130, 208, 0.18);
	border-radius: 5px;
	margin-bottom: 20px;
}

.job-update {
	background: whitesmoke;
	padding: 10px 20px;
	border-radius: 5px;
}
.job-update .fa {
	margin-top: 5px;
	margin-right: 10px;
}

.job-update small {
	background-color: #cfbb82;
	padding: 1px 5px;
	margin: 0 5px;
}

.job-update p {
	margin-bottom: 0 !important;
}

.job-update a {
	text-decoration: none;
	color: black;
	float: right;
}

#job-title {
	color: #9c692f;
	float: left;
}

.apply-btn {
	height: 40px;
	background-image: linear-gradient(to right, #9c692f, #000000);
	padding: 7px;
	margin-top: 13px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.apply-btn .btn-primary {
	padding: 0 4px;
	float: right;
	border-radius: 3px;
	box-shadow: none !important;
	background: transparent;
	border: 2px solid #9c692f;
}
.apply-btn .btn-primary:hover {
	background-image: none;
	background-color: #9c692f;
	border: 3px solid black;
}

.page-link li {
	height: 25px;
	width: 25px;
	list-style: none;
	display: inline-block;
	cursor: pointer;
	color: #9c692f;
}

.page-link li:hover,
.active {
	color: white;
	background-image: linear-gradient(to left, #9c692f, #000000);
}

/* ------------footer------------------ */

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}
