{% extends 'jobs/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="mx-auto" style="width: 75%">
	<div>
		<div class="row justify-content-center">
			<img
				class="col-3 rounded-circle my-3"
				src="{{ user_profile.profile_picture.url }}"
			/>
		</div>
		<!-- <div class="row justify-content-center">
			<div class="my-5">
				<p class="font-weight-light">@{{ logged_user.username }}</p>
				<p class="font-weight-light">{{ logged_user.email }}</p>
			</div>
		</div> -->
	</div>
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="mx-2 my-3">
				<fieldset class="form-group mb-2">
					<legend class="border-bottom mb-4">Update Profile</legend>
					{{ form_profile | crispy }}
				</fieldset>
			</div>
			<div class="mx-2 my-2">
				<fieldset class="form-group mb-2 py-2">
					{{ form_skill | crispy }}
				</fieldset>
			</div>
			<ul>
				{% for skill in user_skills %}
				<li>{{ skill }}</li>
				{% endfor %}
			</ul>
			<div>
				<h4>Jobs Applied ({{applied_jobs|length}})</h4>
				<ul>
					{% for job in applied_jobs %}
					<a href="{% url 'jobs-detail' job.job.id %}"
						><li>{{ job.job.title }}</li></a
					>
					{% endfor %}
				</ul>
			</div>
			<!-- posted jobs  -->
			{% if posted_jobs %}
			<h4>Jobs Posted ({{posted_jobs|length}})</h4>
			<div>
				<ul>
					{% for job in posted_jobs %}
					<a href="{% url 'jobs-detail' job.pk %}"><li>{{ job.title }}</li></a>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

			<!-- End of form -->
			<div class="form-group mx-2 my-3">
				<button class="btn btn-outline-info my-3" type="submit">
					Save Changes
				</button>
			</div>
		</form>
	</div>

	{% endblock content %}
</div>
