{% extends 'jobs/base.html' %}
{% load static %}

{% block content %}

<div class="banner text-center">
    <h1>PASSION IS ENERGY</h1>
    <p>Your Passion brought you here.</p>
</div>
<!-- Searching options -->
<div class="search-job text-center">
    <form method="get" action="{% url 'search' %}">
        
        <input type="text" name="key" class="form-control" placeholder="search keyword..">
        <input type="text" name="com" class="form-control" placeholder="search company..">
        <input type="text" name="loc" class="form-control" placeholder="search location..">
        <input type="submit" class="btn btn-primary btn-lg" value="Find Job">
    </form>
</div>
    <!-- Search results -->
<!-- Top Recruiters -->
<section id="recruiters">
    <div class="container text-center">
        <h3>TOP RECRUITERS</h3>
        <hr>
        <div>
            <p>Job Overflow has helped following organisaions pick the perfect candidate for their needs.
            </p>
            <img src="{% static 'jobs/images/1.png' %}" alt="rec1">
            <img src="{% static 'jobs/images/2.png' %}" alt="rec2">
            <img src="{% static 'jobs/images/3.png' %}" alt="rec3">
            <img src="{% static 'jobs/images/2.png' %}" alt="rec4">
            <img src="{% static 'jobs/images/4.jpeg' %}" alt="rec5">
            <img src="{% static 'jobs/images/1.png' %}" alt="rec6">
        </div>
        <div>
            <!-- <p>Idhar bhi same to same</p> -->
            <img src="{% static 'jobs/images/1.png' %}" alt="rec7">
            <img src="{% static 'jobs/images/2.png' %}" alt="rec8">
            <img src="{% static 'jobs/images/3.png' %}" alt="rec9">
            <img src="{% static 'jobs/images/2.png' %}" alt="rec10">
            <img src="{% static 'jobs/images/4.jpeg' %}" alt="rec11">
            <img src="{% static 'jobs/images/1.png' %}" alt="rec12">
        </div>
    </div>
</section>


<!-- Current Openings -->
<section id="jobs">
    <div class="container">
        <h5 class="text-center">CURRENT OPENINGS</h5>
        {% for job in jobs %}
        <div class="company-details">
            <div class="job-update">
                <h4>
                    <a id="job-title" href="{% url 'jobs-detail' job.pk %}"> <b>{{ job.title }}</b></a>
                </h4><br>
                <p>Company : {{ job.company }}</p>
                <i class="fa fa-briefcase"></i><span> 0-1 years</span><br>
                <i class="fa fa-map-marker"></i><span> {{ job.location }}</span><br>
                    <p>Skills <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <small> {{job.skills_req}}</small>
                    </p>
                
                <p>Description <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    {{ job.description }}</a></p>
                <p>Posted <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    {{ job.date_posted }}</a></p>
            </div>
            <!-- Apply button  -->
            <div class="apply-btn">
                <a href="{% url 'apply' job.pk %}">
                    <button type="button" class="btn btn-primary">Apply</button>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- Pagination links -->
    <ul class="page-link text-center">
    {% if is_paginated %}
        <!-- Adding Previous page link -->
        {% if page_obj.has_previous %}
            <a href="?page=1"><li class="mx-1">First</li></a>
            <a href="?page={{ page_obj.previous_page_number  }}"><li class="left-arrow">&#8592;</li></a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %} 
            {% if page_obj.number == num %} 
                <a href="?page={{ num }}"><li class="active">{{ num }}</li></a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}"><li>{{ num }}</li></a>
            {% endif %}
        {% endfor %}

        <!-- Adding Next page link -->
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number  }}"><li class="right-arrow">&#8594;</li></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><li class="mx-1">Last</li></a>
        {% endif %}
    {% endif %}
    
    </ul>
</section>

{% endblock content %}