{% extends 'jobs/base.html' %} {% block content %}
<article class="content-section">
	<div class="job-update">
		<div>
			<!-- <a class="mr-2" href="#">{{ object.recruiter }}</a> -->
			<p>{{ object.date_applied | date:"F d, Y" }}</p>
		</div>
		<h2 class="article-title">Job : {{ object.job.title }}</h2>
		<p class="article-content">Description : {{ object.job.description }}</p>
		<p class="font-weight-bold">{{ object.location }}</p>
		<p class="font-weight-light">Posted By : {{ object.job.recruiter }}</p>
	</div>
	{% if is_recruiter %}
	<div class="job-update my-3">
		<h2 class="article-title">Full Name : {{ object.full_name }}</h2>
		<p class="article-content">Address : {{ object.address }}</p>
		{% if object.resume %}
		<p class="font-weight-bold">Resume: {{ object.resume.url }}</p>
		{% endif %}
		<p class="font-weight-light">Email : {{ object.email }}</p>
		{% if object.additional_info %}
		<h4>Additional Info</h4>
		<p class="font-weight-light">{{ object.additional_info }}</p>
		{% endif %}
	</div>
	<div>
		<a
			class="btn btn-sm btn-outline-success my-1 mx-1"
			href="#"
			>Confirm Selection</a
		>
		<a
			class="btn btn-sm btn-outline-danger my-1 mx-1"
			href="#"
			>Reject Application</a
		>
	</div>
	{% endif %}
</article>
{% endblock content %}
